<?xml version="1.0" encoding="UTF-8"?>
<configuration>
     <system.web>
    <customErrors mode="Off" />
  ...
  </system.web>
    <connectionStrings>
        <add connectionString="server=localhost;uid=root;Pwd=super99;database=simplecms481" name="simplecms4811" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>
