<?xml version="1.0" encoding="UTF-8"?>
<configuration>
     <system.web>
    <customErrors mode="Off" />
  ...
  </system.web>
    <connectionStrings>
        <add connectionString="server=localhost;uid=simplecms4U1nbj;pwd=_THF30#0(A}+;Database=simplecms481" name="simplecms481" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>
